
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	header{
		padding: 10px 0;

	}
	.menu ul li a{
		padding: 8px 0 0 !important;
		font-size: 20px;
		text-align: right;
	
	}
	/*banner*/
	.banner {
	    padding-bottom: 60px;
	}
	.c_indi {
	    bottom: -60px;
	}
	.c_indi [data-bs-target] {
	    width: 13px;
	    height: 13px;
	}
	.c_text{
		margin-top: 0;
	}
	.c_text h1{
		font-size: 25px;
	}
	.c_text h2{
		font-size: 18px;
		margin: 10px 0;
	}
	.c_text p{
		margin-bottom: 20px;
	}
	.c_icon ul li{
		margin-right: 15px !important;
	}
	.c_icon ul li i{
		font-size: 30px;
	}
/*	feature*/
	.features{
		padding: 50px 0 70px;
	}
	.c_h1{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.c_p1{
		font-size: 17px;
		line-height: 20px;
		margin-bottom: 10px;
		
	}
	.f_text h1{
		font-size: 20px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header*/
	header{
		padding: 10px 0;
		
	}
	.menu ul li a{
		padding: 10px 0 0 !important;
		font-size: 20px;
		text-align: right;
	
	}
/*banner*/
	.banner {
	    padding-bottom: 60px;
	}
	.c_indi {
	    bottom: -55px;
	}
	.c_indi [data-bs-target] {
	    width: 13px;
	    height: 13px;
	}
	.c_text{
		margin-top: 0;
	}
	.c_text h1{
		font-size: 25px;
	}
	.c_text h2{
		font-size: 18px;
		margin: 10px 0;
	}
	.c_text p{
		margin-bottom: 20px;
	}
	.c_icon ul li{
		margin-right: 20px !important;
	}
	.c_icon ul li i{
		font-size: 35px;
	}
/*	feature*/
	.features{
		padding: 50px 0 70px;
	}
	.c_h1{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.c_p1{
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 10px;
		
	}
	.f_text h1{
		font-size: 20px;
	}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	.menu ul li a{
		padding: 10px 0 0 !important;
		text-align: right;

	}

/*	feature*/
	.features{
		padding: 80px 0 100px;
	}
	.f_i{
		font-size: 30px;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {


}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {


}